Source: rtl-ais
Maintainer: dgiardini <unknown@unknown.unknown>
Uploaders: Frederic Guilbault <2@0464.ca>
Section: comm
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>=9),librtlsdr-dev, pkg-config

Package: rtl-ais
Section: comm
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, librtlsdr0
Homepage: https://github.com/dgiardini/rtl-ais
Description: AIS tuner and generic dual-frequency FM demodulator
